{% extends "employee_register/base.html" %}


{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Username</td>
            <td>Start Time</td>
            <td>End Time</td>
            
        </tr>
    </thead>
    <tbody>
        {% for employee in employee_list %}
            <tr>
                <td>{{employee.user}}</td>
                <td>{{employee.start_time}}</td>
                <td>{{employee.end_time}}</td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}