{% extends "employee_register/base.html" %}
{% block content %}


<div class="col-md-10 offset-md-1 mt-5">
            <div class="jumbotron">
                <h1 class="display-4">Registration Form</h1>
                <p class="lead font-italic"></p>
                <hr class="my-4">


                <form action="" method="post" autocomplete="off">
				    {% csrf_token %}
				    {{form.as_p}}

				    <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Register</button>
				    have an account? <a href="/login" target="blank"><strong>login here</strong></a>!

				</form>

				    
                
            </div>
        </div>


{% endblock content %}